extends default

block content 
  div
    h1= 'hey ' + user.display_name + ', enjoy the show!'

    div(class='media')
      img(src=user.images[0].url)

    br

    a(href='/go/off')='Off'
    a(href='/go/on')='On'
    a(href='/logout')='Logout'

  script 
    include ./scripts/autoRefresh.js
